.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;
}

.input {
}

.input:focus {
    color: dodgerblue;
}

.errorInput {
    outline: 1px solid red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
